.authBody {
  margin: 10px auto;
  width: 400px;
  justify-content: center;
  align-items: center;
  background-color: #0e0e10;
  border-radius: 19px;
  border-top: 0px;
}

.bottomDiv {
  margin: 10px auto;
  width: 50%;
  padding: 5px;
  justify-content: center;
  align-items: center;
  border-radius: 19px;
}

.btn {
  background-color: #e31c1c;
  margin: 20px 0px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  width: 200px;
  height: 50px;
  border-radius: 15px;
  cursor: pointer;
}

.estimate {
  height: 30px;
  width: 75%;
  margin: 0px auto;
  margin-top: 10px;
  margin-bottom: 30px;
  color: white;
}

.error {
  color: white;
  display: flex;
  justify-content: flex-start;
  padding: 0px 20px;
}
